@using Model.EF;
@model IEnumerable<User>

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
@{
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}
<h2 class="label-info">Danh Sách User</h2>
@grid.GetHtml(
    tableStyle: "table table-bordered",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",

    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
        grid.Column("ID", "ID"),
        grid.Column("UserName", "UserName"),
        grid.Column("Name", "Name"),
        grid.Column("Email", "Email"),
        grid.Column("Name", "Name"),
        grid.Column("Phone", "Phone Number"),
        grid.Column(format: p => @Html.ActionLink("Chinh Sửa", "Edit", new { @class= "btn btn-success", ID = p.ID })),
        grid.Column(format: p => @Html.ActionLink("Xóa ", "Delete", new { @class = "fa fa-fw fa-sign-out", ID = p.ID }))
        )
)
<style>
    .label-info{
        margin-left:400px;
    }
</style>
