@using Model.EF;
@model IEnumerable<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Share/Layout/_Layout1.cshtml";
}
@section menu
{
    @Html.Action("_MenuPartial", "Home")
}
<div class="h menu">
    <div class="header_bottom">
        <div class="header_bottom_left">
            <div class="section group">
                @foreach (var item in Model)
            {
                    <div class="listview_1_of_2 images_1_of_2">
                        <div class="listimg listimg_2_of_1">
                            <a href="#"> <img src=@item.Image alt="" width="100" height="100" /></a>
                        </div>
                        <div class="text list_2_of_1">

                            <h2>@item.Name</h2>
                            <p>@item.Status</p>
                    <div class="button"><span><a href="#">add to cart</a></span></div>
                </div>
            </div>
                }
            </div>
            <div class="clear"></div>
        </div>
        <div class="header_bottom_right_images">
            <!-- flexslider -->
            <section class="slider">
                <div class="flexslider">
                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="fa-slideshare">
                            <li><img src="~/assets/clients/images/1.jpg" alt="" /></li>
                            <li><img src="~/assets/clients/images/2.jpg" alt="" /></li>
                            <li><img src="~/assets/clients/images/3.jpg" alt="" /></li>
                            <li><img src="~/assets/clients/images/4.jpg" alt="" /></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- flexslider -->
        </div>
        <div class="clear"></div>
    </div>
</div>

